body {
  background-color: #FFECE3;
  font-family: Georgia;
  /*color:white;*/
}
h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  color:#4F68FF;
  margin:auto;
}
span {
  color: rgba(100, 0, 200, 0.5);
  text-decoration: underline;
}

h2 {
  margin-top: -5px;
  padding-top:40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 200;
  text-align: center;
  color:#4F68FF;
}

header {
    background-color: #E87FA9;
    overflow: hidden;
}

header a {
  text-decoration: none;
  color: white;
}

.line {
background-color: #ccc;
border: 0;
height: 5px;
margin-top: 100px;
}
#content {
  background-color: #FFECE3;
}

img {
width: 20%;
height: 10%;
float: right;
margin-right: 40%;
}
#content p img {
  width: 30%;
  height: 30%;
}
#content img {
  width: 160px;
  height:160px;
  margin-top:50px;
  margin-right:70px;
}
#content .box2 {
  margin: 0 auto;
}

.box {
  float:left;
  width:300px;
  height:1000px;
  background-color: rgba(232, 127, 169, 0.9);
}
.box2 {
  position: relative;
  float:right;
  margin-left:70%;
  /*margin-top: 70%;*/
  padding-left:20px;
  width:65%;
  height:600px;
  background-color: rgba(232, 127, 169, 0.9);
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;

}

#store-data {
  margin-top: 10%;
  margin-bottom: 10%;
  float:right;
  margin-right:22%;
  border: thick dashed red;
  width:50%;
  height:50%;
  font-family: verdana;

}
tr:nth-child(even) {
  background-color: #E89499;
}
img#last-pic {
  margin-top: -12%;
}
#banner {
  position: relative;
  overflow: hidden;
  height: 190px;
}
#site-nav {

}
#site-nav  li {
  float: left;
  padding:20px;
  font-size: 1.5em;
  text-decoration: none;
  list-style: none;
}
#site-nav  li:hover {
  color: rgba(30, 5, 70, 0.5);
}
.box .line {
  margin-top: 10px;
}
div #secondL {
  margin-top:215px;
}
div #thirdL {
  margin-top:20px;
}
li {
  float:left;
  text-decoration: none;
  list-style: none;
  color: white;
}

#fieldset {
  padding: 0.5em;
  text-align: center;
  border:thin dashed red;
  width:60%;
  margin: 0 auto;
  background-color:#FFA2AF;

}
#submit {
    background-color:#4F68FF;
    color:white;
}
input {
  width: 300px;
  padding-right: 50px;
  font-size: 10px;
}
legend {
  font-family: Georgia;
  color:#4F68FF;
  font-size: 1.5em;
}
#mh2 {
  padding-bottom:5px;
  font-weight: 200;
  font-size: 40px;
  text-align: center;
}

 #content{
   position: relative;
 }
