body {
  background-color:#FFECE3;
  font-family: Georgia;
}
h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  text-align: center;
  color:#4F68FF;
  /*background-color: #E87FA9;*/
  margin-left: 100px;
  margin-right:30%;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  color:#4F68FF;
}

.top {
  margin:0 auto 0 auto;
  padding-left: 20%;
  border:none;
}
.middle {
  background-color: #E87FA9;
  width:300px;
  height:300px;
  margin:0 auto 0 auto;
  border-radius: 50%;

}
#line {
background-color: #ccc;
border: 0;
height: 4px;
margin-bottom: 1.625em;
}

img {
  width:80%;
  height:40%;
  float:right;
  margin-right: 10%;
  margin-top: 30%;

}
#store-data {
  margin-top: 10%;
  margin-bottom: 10%;
  float:right;
  margin-right:22%;
  border: thick dashed red;
  width:50%;
  height:50%;
  font-family: verdana;

}
tr:nth-child(even) {
  background-color: #E89499;
}
